<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.furja.overall">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".FurjaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.MasterActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.NaviActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ChartActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.BadLogActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/qualityTest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.furja.devicemanager.ui.DevManageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/deviceManager_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <receiver android:name="com.furja.devicemanager.services.AlarmReceiver">
            <intent-filter>
                <action android:name="com.furja.devicemanager.services.ALARM" />
                <action android:name="com.furja.devicemanager.services.CANCEL" />
                <action android:name="com.furja.devicemanager.services.NOTIFY" />
            </intent-filter>
        </receiver>

        <service android:name="com.furja.devicemanager.services.AppPushService" />
        <service android:name=".services.ChatService" />

        <activity
            android:name="com.furja.devicemanager.ui.PISpotCheckActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/label_zhusu_Description"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ChatActivity" />
        <activity
            android:name="com.furja.devicemanager.ui.own.OwnRecordActivity"
            android:label="@string/deviceManager_name" />
        <activity
            android:name="com.furja.devicemanager.ui.ProjectRecordActivity"
            android:label="@string/item_maintain" />
        <activity
            android:name="com.furja.devicemanager.ui.plan.PlanListActivity"
            android:label="@string/label_plan"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.furja.verify.ui.JYProductVerifyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/label_jyProductVerify"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.furja.verify.ui.ProductVerifyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/label_productVerify"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.furja.verify.ui.ReleaseActivity"
            android:label="@string/label_productRelease"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.SplashActivity" />
        <activity android:name=".ui.WebSurfActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"/>
        <activity
            android:name="com.furja.fixturemanager.ui.WorkFixActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/workfix_name" />
        <activity
            android:name="com.furja.iqc.ui.InspectIncomingActivity"
            android:label="@string/text_ipqc"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:parentActivityName=".ui.MasterActivity" />
        <activity
            android:name="com.furja.iqc.ui.QMAGroupActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/label_qmaGroup" />
        <activity
            android:name="com.furja.iqc.ui.InspectItemDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:parentActivityName=".ui.MasterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.furja.alertsop.ui.SopActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:label="@string/text_sopOnline"
            android:parentActivityName=".ui.MasterActivity" />
        <activity android:name=".ui.OneFragmentActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.furja.overall.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>